* {
    box-sizing: border-box;
}

/* Main Elements */
body {
    background-color: black;
}

.main_content h1 {
    color: white;
    font-weight: 400;
    font-family: Ubuntu;
    text-align: center;
    
    position: relative;
    top: -10px;
}

.window {
    width: 1400px;
    height: 800px;
    border: 5px solid white;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 15px;
}

.window .main_content{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    /*margin-top: 25%;*/
    border: 2px solid red;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 2px solid blue;
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
    
}
.two {
    grid-column: 2 / 3;
    grid-row: 1;
    border: 2px solid blue;
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
}
.three {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    border: 2px solid blue;
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
}
.four {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    border: 2px solid blue;
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
}
.five {
    grid-column: 2;
    grid-row: 4;
    border: 2px solid blue;
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
}
.six {
    grid-column: 3;
    grid-row: 3 / 5;
    border: 2px solid blue;
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
}

.clock {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    /*border: 2px solid green;*/
    
    /*font-family: 'Arvo', serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 20pt;
    color: white;
    text-align: center;
    
    position: relative;
    top: 5px;
}

/*
font-weight: 700;
font-size: 40;
position: relative;
top: 20px;*/

